$background-color: #ddf9e9;
$color: #aec6cf;
$dark-color: #526972;
$font-size: 2.9vw;

$btn-margin: 0 0 40px 0;
$btn-padding: 10px 10px 20px 10px;
$btn-font-size: 4vw;
$btn-color: $color;

$player-width: calc(100% - 20px);
$player-max-width: none;
$player-min-width: 0;
$player-height: 70%;
$player-min-height: 0;

$visualizer-height: 25px;
$visualizer-margin: 0 0 25px 0;

$control-width: 100%;
$control-max-width: none;
$control-min-width: 0;
$control-height: 150px;
$control-top-padding: 0 0 0 15px;
$volume-wrapper-width: 50px;

$list-height: calc(100% - 150px);
$list-padding: 0 10px 25% 1vw;
$list-col-height: 10vw;
$list-col-padding: 0 1%;
$list-col-number-width: 9%;
$list-col-number-padding: 0 0 0 5px;
$list-col-title-width: 44%;
$list-fade-width: calc(100% - 10px);

@import './meari.scss';