$background-color: #ddf9e9;
$color: #aec6cf;
$dark-color: #526972;

$btn-download-margin: 0 0 40px 0;
$btn-download-padding: 10px;
$btn-download-border: 3px solid $color;
$btn-download-radius: 5px;
$btn-download-font-size: 4vw;
$btn-download-color: $color;

$btn-download-fa-margin: 0 2vw 0 0;

$audio-width: 100%;
$audio-max-width: none;
$audio-min-width: 0;
$audio-height: 50px;

$list-width: 100%;
$list-max-width: none;
$list-min-width: 0;
$list-height: 50%;
$list-padding: 0 10px 10% 1vw;
$list-font-size: 3.1vw;

$list-col-height: 10vw;

$list-col-fa-width: 5%;

$list-col-number-width: 7%;

$list-col-title-width: 38%;

$fade-left: 0;
$fade-top: calc(50% + #{$audio-height} + 18px);
$fade-transform: translate(0, -50%);
$fade-width: calc(#{$list-width} - 8px);
$fade-max-width: none;
$fade-min-width: 0;
$fade-height: $list-height;

@import './meari.scss';