$background-color: #ddf9e9;
$color: #aec6cf;
$dark-color: #526972;
$font-size: 3.1vw;

$btn-margin: 0 0 40px 0;
$btn-padding: 10px 10px 20px 10px;
$btn-font-size: 4vw;
$btn-color: $color;

$player-width: 55%;
$player-max-width: 800px;
$player-min-width: 700px;
$player-height: 60%;

$control-width: 100%;
$control-max-width: none;
$control-min-width: 0;
$control-height: 120px;

$list-padding: 0 10px 25% 1vw;
$list-col-height: 10vw;
$list-col-padding: 0 1%;
$list-col-fa-width: 5%;
$list-col-number-width: 7%;
$list-col-title-width: 38%;
$list-fade-width: calc(100% - 10px);

@import './meari.scss';