$background-color: #ddf9e9;
$color: #aec6cf;
$dark-color: #526972;

$btn-download-margin: 0 0 40px 0;
$btn-download-padding: 10px;
$btn-download-border: 3px solid $color;
$btn-download-radius: 5px;
$btn-download-font-size: 17px;
$btn-download-color: $color;

$btn-download-fa-margin: 0 8px 0 0;

$audio-width: 55%;
$audio-max-width: 800px;
$audio-min-width: 700px;
$audio-height: 50px;

$list-width: calc(#{$audio-width} - 10px);
$list-max-width: calc(#{$audio-max-width} - 10px);
$list-min-width: calc(#{$audio-min-width} - 10px);
$list-height: 50%;
$list-padding: 0 10px 10% 20px;
$list-font-size: 17px;

$list-col-height: 50px;

$list-col-fa-width: 7%;

$list-col-number-width: 8%;

$list-col-title-width: 35%;

$fade-left: calc(50% - 5px);
$fade-top: calc(50% + #{$audio-height} + 18px);
$fade-transform: translate(-50%, -50%);
$fade-width: calc(#{$list-width} - 30px);
$fade-max-width: calc(#{$list-max-width} - 30px);
$fade-min-width: calc(#{$list-min-width} - 30px);
$fade-height: $list-height;

@import './meari.scss';