@import '../../styles/variables.scss';

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;

	.logo {
		margin-top: $header_height / 2;
		margin-left: 20px;
		transform: translateY(-50%);
		
		&:hover {
			cursor: pointer;
		}
	}

	.links {
		.link {
			text-transform: uppercase;
		}
	}

	&.desktop {		
		height: $header_height;
		background-color: $dark_primary;

		.links {
			float: right;
			height: 100%;
			
			.link {
				display: inline-block;
				height: 100%;
				padding: 0 15px;
				color: $white;
				line-height: $header_height;

				transition-property: background-color, color;
				transition-duration: $duration;
				transition-timing-function: $function;

				&:hover {
					cursor: pointer;
					background-color: $light_primary;
					color: $dark_primary;
				}
			}
		}
	}

	&.phone {
		height: 100%;

		.overlay {
			width: 100%;
			height: 100%;
			background-color: $white;

			&.visible {
				opacity: 0.95;
				display: block;
			}

			&.hidden {
				opacity: 0;
				display: none;
			}
		}

		.menu-button {
			position: fixed;
			top: 20px;
			right: 20px;

			width: 50px;
			height: 50px;
			background-color: $dark_primary;	
		}

		.links {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			width: 100%;
			text-align: center;

			&.visible {
				opacity: 1;
				display: block;
			}

			&.hidden {
				opacity: 0;
				display: none;
			}
			
			.link {
				padding: 20px;
				font-size: $font_h5;
			}
		}
	}
}